body {
	background-color: #118847;
	color: white;
	padding: 10px 20px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

p, li {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 1.7;
}

img {
	vertical-align: middle;
	height: 30px;
	padding-right: 10px;
}

.bookmarklet {
	background-color: white;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
}

.link {
	color: white;
}

.link:hover {
	color: #96cbff
}

button {
	background-color: white;
	outline: none;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	padding: 5px;
}

button:hover {
	cursor: pointer;
}

@media only screen and (min-width: 600px) {
  body {
    padding: 20px 50px;
  }
}

/* Tooltip code from https://www.w3schools.com/css/css_tooltip.asp */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #303030;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #303030 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
